* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Caudex';
    src: url(assets/fonts/Caudex-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Caudex-Bold';
    src: url(assets/fonts/Caudex-Bold.ttf);
    font-weight: normal;
}

body {
    font-family: 'Caudex';
    color: white;
    margin: 0;
}

#main-wrapper {
    width: 100%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

li {
    flex-grow: 1;
}

a {
    position: relative;
    top: 35%;
    text-decoration: none;
    color: white;
}

li:hover {
    border-bottom: 2px solid #ffBd00;
}

#active {
    border-bottom: 2px solid #ffBd00;
}

#img-banner {
    background-image: url(assets/images/ramen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px;
    filter: grayscale(30%);
    min-height: 90vh;
}

#rating p {
    text-align: center;
    margin: 0;
    padding: 25px;
}

header, footer {
    background-color: #1d1d1d;
}
